[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-jazzmin = "*"
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
django-tailwind = {extras = ["reload"], version = "*"}
django-ckeditor-5 = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}

[dev-packages]
pre-commit = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.13"
