{% extends "base.html" %}
{% load static %}

{% block title %}Islington Ecommerce - Home{% endblock %}

{% block content %}
    <section class="mx-auto py-6">
        <div class="grid grid-cols-3 gap-6">
            <div class="col-span-2 rounded-md bg-[var(--clr-gray-50)]">
                <div class="carousel relative">
                    <div id="item1" class="carousel-item p-13 items-center gap-9">
                        <div class="w-[356px]">
                            <span class="flex items-center text-[var(--clr-secondary-600)] gap-2 font-semibold text-sm">
                                <div class="divider bg-[var(--clr-secondary-600)] w-[10%]" style="height: 2px;"></div>
                                THE BEST PLACE TO PLAY
                            </span>

                            <h1 class="font-semibold text-5xl text-[var(--clr-gray-900)] mb-4">Xbox Consoles</h1>

                            <p class="text-[var(--clr-gray-700)] mb-6">
                                Save up to 50% on select Xbox games. Get 3 months of PC Game Pass for $2 USD.
                            </p>

                            <a class="btn btn-primary">SHOP NOW</a>
                        </div>

                        <img
                                src="{% static 'images/banner/banner_image_3.png' %}"
                                alt=""
                                class="w-[368px]"/>
                    </div>

                    <div class="flex justify-center gap-2 py-2 absolute bottom-[56px] left-[56px]">
                        <a href="#item1" class="carousel-indicator carousel-indicator-active"></a>
                        <a href="#item1" class="carousel-indicator"></a>
                        <a href="#item1" class="carousel-indicator"></a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-4 items-center">
                {% include 'partials/banner/banner_small_1.html' %}

                {% include 'partials/banner/banner_small_2.html' %}
            </div>
        </div>

        <div class="p-4 rounded-md border border-[var(--clr-gray-00)] mt-6 flex justify-between">
            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>FASTEST DELIVERY</p>
                    <span>Delivery in 24/H</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>24 Hours Return</p>
                    <span>100% money-back guarantee</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>Secure Payment</p>
                    <span>Your money is safe</span>
                </div>
            </div>

            <div class="feature-divider"></div>

            <div class="feature-card">
                <img src="{% static 'images/icons/Package.svg' %}" alt=""/>

                <div>
                    <p>Support 24/7</p>
                    <span>Live contact/message</span>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-auto py-18">
        <div class="flex justify-between items-center mb-6">
            <h2 class="flex items-center gap-2 text-[var(--clr-gray-900)] font-semibold text-2xl">
                Best Deals
                <span class="text-sm">Deal ends in <span class="text-base px-3 py-2 bg-[var(--clr-warning-300)]"> 16d: 21h: 57m: 23s</span></span>
            </h2>

            <a class="btn btn-no-bg text-[var(--clr-secondary-500)]">Browse All Product</a>
        </div>

        <div class="grid grid-cols-12">
            <div class="col-span-3">
                <figure>
                    <img/>
                </figure>

                <div class="ratings">

                </div>

                <div>
                    <h3 class="text-[var(--clr-gray-900)]">Xbox Series S - 512GB SSD Console with Wireless Controller -
                        EU Versio...</h3>

                    <p><span class="decoration-dashed text-[var(--clr-gray-300)]">Rs. 865.99</span><span
                            class="text-[var(--clr-secondary-500)]">Rs. 442.12</span></p>
                </div>
            </div>

            <div class="col-span-9">
                <div class="grid grid-cols-4">
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                    {% include "partials/products/card_regular.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
