{% load static %}


<article class="ad-card m-w-[312px]">
    <div class="">
        <figure class="w-[248px] h-[96px] mb-3">
            <img src="{% static 'images/menu/ad-card-image.png' %}"
                 alt="Need to Create a Meta Desc For This"/>
        </figure>

        <div>
            <h3 class="text-[var(--clr-gray-900)] font-semibold text-[1.75rem] text-center mb-2 leading-[1.15]">21% Discount</h3>

            <p class="text-base leading-[1.5] text-[var(--clr-gray-700)] text-center text-wrap mb-4">
                Escape the noise, It’s time to hear the
                magic with Xiaomi Earbuds.
            </p>

            <p class="text-center text-[var(--clr-gray-700)] text-sm">
                Starting Price: <span class="bg-[var(--clr-gray-00)] py-[6px] px-3 text-[var(--clr-gray-900)] font-semibold text-base">Rs. 99</span>
            </p>
        </div>
    </div>

    <div class="-body">
        <a class="btn btn-shop-now">
            Shop Now
        </a>
    </div>
</article>
